
h1 {
    color:rgb(197, 105, 125)
}

h2 {
    color:black
}

body {
    background-color:rgb(204, 191, 148);
    color:rgb(0, 0, 0);
    font-size: larger;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}