
h1 {
    color:rgb(217, 255, 0)
}

a {
    color:rgb(255, 255, 255)
}

h2 {
    color:black
}

body {
    background-color:rgb(58, 57, 57);
    color:white;
    font-size: larger;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}