
h1 {
    color:rgb(82, 29, 174)
}

a {
    color:rgb(82, 29, 174)
}

h2 {
    color:black
}

body {
    background-color:rgb(224, 100, 72);
    color:white;
    font-size: larger;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}